@page "/business"
@page "/companydetails"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Handyman_SP_UI.Areas.Identity.Data
@inject NavigationManager Navigation
@inject TokenProvider  TokenProvider


@inject SignInManager<Handyman_SP_UIUser> SignInManager
@inject UserManager<Handyman_SP_UIUser> UserManager



<br />
  <div class="p-4 p-md-3 mb-2 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Hi</h1>
      <p class="lead my-3">In this page you can manage you company, stuff</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Company</h3>

          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Edit</a>
          <div class="mb-1 text-muted">1</div>
        </div>
      </div>
    </div>
      <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Stuff</h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="stuff" class="stretched-link">Edit</a>
          <div class="mb-1 text-muted">3</div>
        </div>
      </div>
    </div>
          <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Locations</h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Edit</a>
          <div class="mb-1 text-muted">2</div>
        </div>
      </div>
    </div>
          <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Services</h3>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Edit</a>
          <div class="mb-1 text-muted">12</div>
        </div>
      </div>
    </div>
  </div>
  <br />

@code {

}
