.orders-container [b-c6gqu8q7ob] {
    padding: 10px;
    width: 90%;
    height: 82%;
    border-radius: 15px;
    background-color: hsla(210, 28%, 55%, 0.13);
    position: relative;
    top: 12%;
    left: 5%;
}
