@model HandymanUIApp.Models.OrderModel
@{
    ViewData["Title"] = "Providers List Loader";
}

<h1>Getting a provider</h1>


<div class="d-flex align-items-center">
  <strong>Awaiting provider...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
<a asp-controller="Orders" asp-action="CancelOrder"  class="btn btn-outline-secondary">Cancel Order</a>