
@{
    ViewData["Title"] = "Provders List Loader";
}

<h1>Loading Provders List</h1>

<div class="d-flex align-items-center">
  <strong>Finding a Service Provider...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
