@page "/orderComponent"
@using HandymanUILibrary.API
@using HandymanUILibrary.API.Consumer
@using Handymen_UI_Consumer.Areas.Identity.Data
@using Handymen_UI_Consumer.Helpers
@using Handymen_UI_Consumer.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Caching.Memory
@using System.Security.Claims

@inject NavigationManager NavManager
@inject ILogger<OrderComponent> Logger
@inject PersistentComponentState ApplicationState
@inject IOrderHelper _orderHelper
@inject IMemoryCache _cache
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IOrderEndPoint _orderEndPoint



<!--Order Component MarkUp-->

<dl class="row justify-content-center">
        <div class="card mb-3 " style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
                <img src="/Images/@(order.ServiceProperty.ImageUrl)" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                    <h5 class="card-title" id="orderName">@order.ServiceProperty.Name</h5>
                    <p class="card-text" id="orderDescription"> @order.ServiceProperty.Description</p>
                    <p class="card-text"><small class="text-muted">@order.DateCreated.ToString("MMMM dd, yyyy")</small></p>
              </div>
            </div>
          </div>
           
            @*
                ### Button display logic in a re-usable component###
                If the order is confirmed by the consumer and by the service provider accepted --display tracking button
                If the order is not confirmed by the consumer (and ofcourse by default cannot be accepted by a service provider) --display confirm button
            *@

            @if(order.IsAccepted==1)
            {
                <button @onclick="TrackOrder" class="btn btn-outline-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Track Order</button>
            
            }
            
            @if (!order.IsConfirmed)
            {
                <button @onclick="ConfirmOrder" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropConfirmorder"> Confirm </button>
            }
           
       
        </div>
   
</dl>
    <!--End Component MarkUp-->
   


@code {
    private List<Service>? serviceDisplayList;
    public Order? order = new Order()!;
    private HubConnection? orderHubConnection;
    private HubConnection? requestHubConnection;
    private PersistingComponentStateSubscription persistingSubscription;
    string? ErrorMsg;
    string? IsAvailableMsg;
    bool IsProviderAvailable;
    bool OpenConnection;
    string? user;
    List<Order> userOrders;


    [Parameter]
    public Order? OrderComponentModel
    {
        get
        {
            return order; 
        }

        set
        {
            order = value;
        }
    }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            //Component persisting state setup****//
            persistingSubscription =
            ApplicationState.RegisterOnPersisting(PersistOrder);

            if (!ApplicationState.TryTakeFromJson<Order>(
                "fetchdata", out var restored))
            {
                //*The following code get the order from the IOrderEndPoint*//
                //order =
                await _orderHelper.LoadUserOrders();

            }else
            {
                order = restored!;
            }
        }catch(Exception ex)
        {
            ErrorMsg = ex.Message;
        }



        NavManager.LocationChanged += HandleLocationChanged;
    }


    //Send the Order to signalr request
    //User must be from Identity
    async Task Send()
    {
        if(orderHubConnection is not null)
        {
            try
            {
                await orderHubConnection.SendAsync("SendOrder", user, order);
            }catch(Exception ex)
            {
                ErrorMsg = ex.Message;
            }
        }
    }

    //Redirection in razor component
    void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        Logger.LogInformation("URL of new location: {Location}", e.Location);
    }

    //Disposing the component
    async ValueTask DisposeAsync()
    {

        NavManager.LocationChanged -= HandleLocationChanged;
        await this.DisposeAsync();

    }

    //Initiate the order track --soon to be in load orders
    void TrackOrder()
    {


        order.IsTracking = true;
        // NavManager.NavigateTo($"/orderdetails?id={@order.Id}", true);
        NavManager.NavigateTo("/orders/ordertracker",true);
    }


    //Cancelling --soon to be in load orders
    async Task CancelOrder()
    {
        order.IsTracking = false;
        await DisposeAsync();
        persistingSubscription.Dispose();
    }

    //Completing the order on certain --loaders class 
    async Task FinishOrder()
    {

    }

    async Task UpateOrder()
    {

    }
    //Persisting the order 
    Task PersistOrder()
    {
        ApplicationState.PersistAsJson("fetorder", order);

        return Task.CompletedTask;
    }

    //Confirming the order placement--soon to be in ordershelper by all means
    async Task ConfirmOrder()
    {
        HandymanUILibrary.Models.OrderModel libOrder = new();

        try
        {
            var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
            var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
            //Populate the order before posting it to db
            libOrder.ConsumerID = UserId.ToString();
            libOrder.IsAccepted = 0;//not accepted as yet, this is a new order
            libOrder.DateCreated =  DateTime.Now;
            libOrder.ServiceId = order.ServiceProperty.Id;
            order.IsConfirmed = true;
            await _orderEndPoint.PostOrder(libOrder);
           
        }
        catch (Exception ex)
        {
            ErrorMsg = ex.Message;
        }
    
    }


    //[Authorize]
    //public async Task DeleteOrder(int Id)
    //{
    //    try
    //    {

    //        await _orderHelper.DeleteOrder(Id);
    //        NavManager.ToAbsoluteUri("/index");
    //        await InvokeAsync(StateHasChanged);
    //    }
    //    catch (Exception ex)
    //    {
    //        ErrorMsg = ex.Message;

    //    }

    //}
}
