@page "/orderdetails/{Id?}"
@using Handymen_UI_Consumer.Helpers
@using Handymen_UI_Consumer.Models
@using Microsoft.AspNetCore.Components
@inject SignInManager<Handymen_UI_ConsumerUser> SignInManager
@inject IOrderHelper orderHelper;
@model Handymen_UI_Consumer.Pages.OrderDetailsModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Order's Details";
}

<h1 class="text-center">Order Details</h1>

<div class="alert-success justify-content-md-center  card">
    <div>

        <a asp-page="./Index" class="btn btn-close-white">Home</a>
    </div>
    <div class="card-body">
    <hr />
        
            @*<button type="button" class="btn-close align-content-end" data-bs-toggle="modal" data-bs-target="#staticBackdropdeleteorder@(Model.Order.Id)" aria-label="Close"></button>
       *@
            <component type="typeof(OrderComponent)" render-mode="ServerPrerendered" param-OrderComponentModel="@(Model.Order)" />@*param-OrderComponentModel="@(@Model.OrderProperty)"*@
            @functions
            {
                [Parameter]
                public int? Id { get; set; }
            }
        
    </div>
</div>
