@inherits LayoutComponentBase


@inject NavigationManager Navigation
@inject IMemberHelper _memberHelper
@inject IConfiguration _config


<main>
    <div class="authContainer">
    @Body
    </div>
</main>
     

@code{
   
    
}
 