
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

    <AuthorizeView>
    <Authorized>
 <!--Profile Vie- Dropdown -->
        <a href="Identity/Account/Manage/Index">
            Hello, @context.User.Identity.Name!
        </a>
        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button class="nav-link btn btn-link" type="submit">Logout</button>
           
        </form>
    </Authorized>
    <NotAuthorized>
            <a href="Identity/Account/Login" class="nav-link text-dark"><strong>LOGIN</strong> </a>
    </NotAuthorized>
</AuthorizeView>


