   <!-- * ####Side Navigation Bar Start####-->
<!--######Top Navigation Section Start #######-->
<!--######Top Navigation Section Start #######-->
<nav>
    <div class="logo">
        <i class="fa-solid fa-fingerprint fa-2x"></i>
        <h1>Okane</h1>
    </div>
    <div class="search">
        <input type="text" placeholder="Type your text">
        <button class="search-button">
            <i class="fa-solid fa-magnifying-glass fa-1x"></i>
        </button>
    </div>
    <div class="icons-profile">
        <div class="icons">
            <ul>
                <li><img src="/img/Planner.png" alt="calender"></li>
                <li><img src="/img/Chat.png" alt="chats"></li>
                <li><img src="/img/Notification.png" alt="notification"></li>
            </ul>
        </div>
        <div class="profile">
            <button class="dropbtn"><img src="/img/Male User.png" alt="profile picture"></button>
            <div class="dropdown-content">
                <a href="#">Mbuzi</a><hr>
                <a href="#">Owner</a>
                <a href="/pages/Samples/Profile-Owner.html">Profile</a>
                <a href="#">Support</a>
                <a href="404">Setting</a><hr>
                <a href="#">LogOut</a>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
