    <!-- * ####Side Navigation Bar Start####-->
<aside>
    <ul class="side-nav">
        <li><img src="/img/Home.png" alt="home"></li>
        <li><img src="/img/Work Boot.png" alt="services"></li>
        <li><img src="/img/Purchase Order.png" alt="order"></li>
        <li><img src="/img/Profit.png" alt="revenue"></li>
        <li><img src="/img/Worker.png" alt="stuff"></li>
        <li><img src="/img/Small Business.png" alt="workshop"></li>
        <li><img src="/img/Graph Report.png" alt="reports"></li>
    </ul>
</aside>

@code {

}
