@page "/ws-sign-up"

@using Microsoft.AspNetCore.Components.Web

@inject NavigationManager NavManager
@inject IBusinessHelper _workshopHelper

<AuthorizeView Context="Auth">
<!-- Workshop Register Button trigger modal -->
<button type="button" class="btn btn-dark outline-btn-secondary" data-bs-toggle="modal" data-bs-target="#wsRegisterModal">
   Create WorkShop
</button>

<button type="button" @onclick="GoToRegisterMember" class="btn btn-secondary outline-btn-dark">
    Join WorkShop
</button>

<!-- Workshop Register Modal -->
<div class="modal fade" id="wsRegisterModal" tabindex="-1" aria-labelledby="wsRegisterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="wsRegisterModalLabel">WorkShop Register</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="newWorkShop" OnSubmit="ClickSubmitWSRegister">

                    <div class="col-12">
                        <label for="wsName" class="form-label">WorkShop Name</label>
                        <input type="text" @bind-value="newWorkShop.Name" id="wsName" class="form-control" placeholder="WorkShop Name" aria-label="wsName">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionTextarea1" class="form-label">Description</label>
                        <textarea @bind="newWorkShop.Description" class="form-control" id="descriptionTextarea1" rows="3"></textarea>
                    </div>

                    <div class="col-12">
                        <label for="inputContactNumber" class="form-label">Registration Number </label>
                        <input class="form-control" type="text" value="@newWorkShop.registration.regNumber" aria-label="Disabled input example" disabled readonly>
                    </div>

                    <!--Address Section-->
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" @bind-value="newWorkShop.address.add_street" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                        <label for="inputAddress2" class="form-label">Address 2</label>
                        <input type="text" @bind-value="newWorkShop.address.add_suburb" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-4">
                        <label for="inputCity" class="form-label">City</label>
                        <select id="inputCity" @bind="newWorkShop.address.add_city" class="form-select">
                            <option selected>Choose...</option>
                            <option>Johannesburg</option>
                            <option>Cape Town</option>
                            <option>Durban</option>
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="inputState" class="form-label">Province</label>
                        <select id="inputState" @bind="newWorkShop.address.add_state" class="form-select">
                            <option selected>Choose...</option>
                            <option>Gauteng</option>
                            <option>Western Cape</option>
                            <option>KwaZulu Natal</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="inputZip"  class="form-label">Zip</label>
                        <input type="text" @bind-value="newWorkShop.address.add_zip" class="form-control" id="inputZip">
                    </div>
                    <button type="submit" class="btn outline-btn-primary">
                        Submit
                    </button>

                </EditForm>


            </div>
           
        </div>
    </div>
</div>
</AuthorizeView>




@code {
    private BusinessModel newWorkShop = new BusinessModel()!;
    List<string> Errors = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        newWorkShop.registration.regNumber = GenerateRandomString();
    }

    //Submit the form using a task
    private async Task ClickSubmitWSRegister()
    {
        try
        {
            var registerWS = await _workshopHelper.CreateBusiness(newWorkShop);

            if (registerWS != null)
            {
                NavManager.NavigateTo("service-register");
            }

        }
        catch (Exception ex)
        {

            Errors.Add(ex.Message);
        }
    }

    //Generating a random string for business registration number
    private string GenerateRandomString()
    {
        Random res = new Random();

        // String that contain both alphabets and numbers
        String str = "abcdefghijklmnopqrstuvwxyz0123456789";
        int size = 11;

        // Initializing the empty string
        String randomstring = "";

        for (int i = 0; i < size; i++)
        {

            // Selecting a index randomly
            int x = res.Next(str.Length);

            // Appending the character at the
            // index to the random alphanumeric string.
            randomstring = randomstring + str[x];
        }

        return randomstring;
    }

    //Navigate to Member registeration
    private void GoToRegisterMember()
    {
        NavManager.NavigateTo("m-sign-up");
    }
}
