<!--This component captures the data required to create a profile-->
@page "/new-profile"
@page "/n-profile"

@using HandymanProviderLibrary.Models
@using Microsoft.AspNetCore.Components.Web


    <br/>
    <div class="my-3 justify-content-center" id="validation">
              
     
        <div class="bd-example-snippet bd-code-snippet">
         <div class="bd-example">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="validationServer01" class="form-label">Full Name(s)</label>
                    <input type="text" @bind="@providerModel.employeeProfile.Names" class="form-control is-valid" id="validationServer01" placeholder="Zee" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          
          <!--Address-->
            <div class="col-md-6">
                <label for="validationServer01" class="form-label">Last Name</label>
                    <input type="text" @bind="@providerModel.employeeProfile.Surname" class="form-control is-valid" id="validationServer01" placeholder="Maiana" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
                <div class="col-md-12">
                    <label for="validationServer09" class="form-label">Gender</label>
                    <select type="text" class="form-select is-invalid" @onchange="SelectedGender" id="validationServer09">
                        <option selected>Choose...</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a Business Type.
                    </div>
                </div>
            <div class="col-md-6">
                <label for="validationServer02" class="form-label">Date Of Birth</label>
                <input type="date" @bind="@providerModel.employeeProfile.DateOfBirth" class="form-control is-valid" id="validationServer02" placeholder="1990/5/5" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
                
            <div class="col-md-6">
                <label for="validationServer033" class="form-label">Phone Number</label>
                <input type="text" @bind="@providerModel.employeeProfile.PhoneNumber" class="form-control is-valid" id="validationServer33" placeholder="0123456789" required>
                <div class="valid-feedback">
                    start with +27
                </div>
            </div>
          
        </form>
        </div>
        

      </div>
    </div>


@code {
    public ServiceProviderModel? providerModel;

    protected override async Task OnInitializedAsync()
    {
        providerModel = new()!;
        providerModel.Services = new List<ServiceModel>()!;
        providerModel.employeeProfile = new ProfileModel()!;

    }

    void SelectedGender(ChangeEventArgs e)
    {
        if(e.Value is not null)
        {
            switch ((string)e.Value)
            {
                case "1":
                    providerModel.employeeProfile.Gender = "Male";

                    break;
                case "2":
                    providerModel.employeeProfile.Gender = "Female";
                    break;
                case "3":
                    providerModel.employeeProfile.Gender = "Other";
                    break;

            }
            

        }
    }
}
