<!--The component is for displaying the services provided by the provider-->
@page "/service-provider"
@page "/provider"

@using Handyman_SP_UI.Pages.Businesses
@inject IServiceEndpoint _servicesEP;

    @if (providerModel != null)
    {

        @if (serviceProvider.Services.Count > 0)
        {
             <div class="d-flex text-muted pt-3">
           
                @foreach(var service in serviceProvider.Services)
                {
                    
                 <span class="d-block">@service.name</span>   <!--Should be a provider job title-->
                   
                }
       
            </div>

        }
    
    
    }

      

@code {

    ServiceProviderModel? providerModel;
    string? ErrorMsg = "something is wrong";
    static IList<ServiceModel>? services;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (services == null)
            {
                services = await _servicesEP.GetServices();
            }
             
        }
        catch (Exception ex)
        {
            ErrorMsg = ex.Message;  
        }
    }

    [Parameter]
    public ServiceProviderModel? serviceProvider { get => _  = providerModel; set {providerModel=value; } }
}
