@page "/service-provider"
@page "/provider"
@using Handyman_SP_UI.Pages.EmployeeComponent;


@inject IServiceEndpoint _servicesEP;
@inherits Employees


    @if (providerModel!=null)
    {
    <div class="d-flex text-muted pt-3">
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff" /><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <span class="d-block">@serviceProvider.Services.ElementAt(0).category.name</span>   <!--Should be a provider job title-->
        </div>
    </div>

    <div class="row mb-2">
       
    </div>
    }

      

@code {

    static ServiceProviderModel? providerModel;
    string? ErrorMsg = "something is wrong";
    static IList<ServiceModel>? services;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (services == null)
            {
                services = await _servicesEP.GetServices();
            }
             
        }
        catch (Exception ex)
        {
            ErrorMsg = ex.Message;  
        }
    }

    [Parameter]
    public ServiceProviderModel? serviceProvider { get => _  = providerModel; set {providerModel=value; } }
}
