@page "/requestcomponent"
@using HandymanProviderLibrary.Api.Request
@using HandymanProviderLibrary.Models
@using Handyman_UI_Provider.Models
@inject IRequestEndPoint _requestEndPoint
@inject AuthenticationStateProvider _authenticationStateProvider

@if (OrderId != null)
{

    <div class="card text-center">
       
        <div class="card-body">
            <h5 class="card-title">Service Name</h5>
            <p class="card-text"><img src="./Images/@(ImageUrl)" class="img-thumbnail active" width="200"/></p>
           @if(@IsAccepted.Equals(0))
           {
            <a @onclick="()=> AcceptRequest()" class="btn btn-primary">Accept</a>
           }        
        </div>
        <div class="card-footer text-muted">
            @OrderDate
        </div>
        <div class="accordion accordion-flush" id="accordionExample">
            @foreach (var item in orderTodoList)
            {
                @if (!IsAccepted.Equals(0))//order is just started
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Id)" aria-expanded="true" aria-controls="collapseOne">
                                @item.ItemName
                            </button>
                        </h2>
                        <div id="collapse@(item.Id)" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                 @item.Description
                            </div>

                            <a href="todocomponent?Id=@(item.Id)" class="btn-info">
                                View 
                            </a>
                           
                        </div>
                    </div>
                }
            }
        </div>
    </div>
   
}else{
    <div class="call-out">Selected Request is no longer available</div>
}
   

@code {
    private List<OrderModel>? orders;
    private RequestModel? newRequest;
    string? ErrorMsg;
    bool isStarted;
    bool isFinished;
    List<TodoModel>? orderTodoList;
    RequestDisplayModel? request = new()!;

    private string RequestStage = "New";

    [Parameter]
    [SupplyParameterFromQuery(Name = "Id")]
    public int? OrderId 
    { 
        get;
        set; 
    }
    [Parameter]
    [SupplyParameterFromQuery(Name = "sid")]
    public int ServiceId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "img")]
    public string? ImageUrl { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "ia")]
    public int IsAccepted { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "ord")]
    public string? OrderDate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        orderTodoList = new()!;
        orders = await _requestEndPoint.GetAllOrdersByService(ServiceId);
        orderTodoList = await _requestEndPoint.GetOrderTodoList(OrderId.Value);
        
    }

    //Create a new request
    public async Task AcceptRequest()
    {
        newRequest = new();
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

        newRequest.ProviderId = UserId;
        newRequest.ServiceId = ServiceId;
        newRequest.OrderId = OrderId.Value;
        newRequest.DateAccepted = DateTime.Now;
        
        try
        {
            await _requestEndPoint.PostRequest(newRequest);
            IsAccepted = 1;
        }catch(Exception ex)
        {
            ErrorMsg = ex.Message;
        }

    }


    //This method has the mechanism for starting the request
    public void StartRequest()
    {
       
            RequestStage = "Started";            
            
    }

    //This method encapsulates the mechanism for processing the requesst
    public async Task ProcessRequest()
    {

    }

    //Completing the request method
    public void FinishRequest()
    {
        RequestStage = "Finished";
        
    }

    

}
