@page
@model LoginModel


<h2 class="text-center">Use a local account to log in.</h2>

<!--Login page-->
<div class="row g-0 bg-body-secondary position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="~/Images/bg/Team work_Monochromatic.png" class="w-100" alt="Login Icon">
  </div>
  <!--Login Form-->
  <div class="col-md-6 p-3 ps-md-0">
      <div class="col-md-9 m-3">
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-floating vstack gap-3 col mx-auto">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating vstack gap-3 col mx-auto ">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
           
            <div>
                <!--Submit Button-->
                <div class="vstack gap-2 col-md-5 mx-auto">
                    <button id="login-submit" type="submit" type="button" class="btn btn-outline-secondary">Login</button>
                    <a type="button" asp-page="/Register" class="btn btn-outline-secondary">Sign Up</a>
                </div>

            </div>
        </form>
        </div>
       @* <div class="col-md-9 m-3">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
            <p>
                <a id="google-login" id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">google login</a>
            </p>
        </div>*@
  </div>
  <!--End Login Form-->
</div>
<!--Edn of split login page-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
