@page
@using Handymen_UI_Consumer.Pages
@model Handymen_UI_Consumer.Pages.OrderModel
@{
    ViewData["Title"] = "FixUp Order";
}

<h1 class="text-capitalize text-center">Order</h1>


<hr/>
    @*OrderComponent Section*@
    @if(@Model.OrderProperty!=null)
    {

                
              <component type="typeof(OrderComponent)" render-mode="ServerPrerendered" param-OrderComponentModel="@(@Model.OrderProperty)" />
              <!--Buttons-->
              <div class="row">

                    
                @if(!Model.OrderProperty.IsConfirmed)
                {
                <div class="col-5 justify-content-start">


                    <form asp-page-handler="CancelOrder">
                        <a type="submit" asp-area="" asp-page="/Index" class="btn-outline-secondary">Close</a>
                    </form>
                </div>
                <div class="col-7 ">
                   
                    @*<button type="submit" class="btn btn-outline-success">Confirm</button> <!--data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"-->
                  *@  <!-- Button trigger modal -->
                   
                
               
                </div>
                }
              </div>
            }

    @*End OrderComponent Section*@
    else
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

        </div>
    }



