@page
@model Handymen_UI_Consumer.Pages.OrderModel
@{
    ViewData["Title"] = "Create Order";
}

<h1 class="text-capitalize text-center">Confirm Service Order</h1>



    @*OrderComponent Section*@
    @if(@Model.OrderProperty!=null){
   
            <component type="typeof(OrderComponent)" render-mode="ServerPrerendered" param-OrderComponentModel="@Model.OrderProperty" />
            
            <a asp-page="./Details" asp-route-id="@Model.OrderProperty.ServiceId" class="btn-outline-secondary">Cancel</a>
            
           
   
    }else{
        <div>
            <p>Empty Order Created</p>
        </div>
    }
