@{

    Layout = "~/Views/Shared/_ServiceProviderLayout.cshtml";
}
<div class="alert alert-success">
    <strong>Success!</strong> You have added a new service successfully .
</div>

@Html.ActionLink("Back to Services", "Home", "ServiceProvicerHome", new { @class = "btn" })