<CascadingAuthenticationState>
    <AuthorizeView>
    <Authorized>
 <!--Profile Vie- Dropdown -->
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
            <form method="post" action="Identity/Account/Manage/LogOut">
            <a href="Identity/Account/Logout" class="nav-link btn btn-link">Logout</a>
            </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login" class="nav-link text-dark">Log in2</a>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>

