<CascadingAuthenticationState>
    <AuthorizeView>
    <Authorized>
 <!--Profile Vie- Dropdown -->
  <div class="dropdown text-end m-3">
          <a href="#" role="button" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><p class="dropdown-header text-muted"> @context.User.Identity?.Name!</p></li>
                    <li><a id="manage" class="dropdown-item text-dark" href="Identity/Account/Manage/Index" title="Manage">Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
             @*<form id="logoutForm" class="dropdown-itemform-inline" href="/Account/Logout">*@
                    <a id="logout" href="Identity/Account/Logout" type="submit" class="dropdown-item btn btn-link text-dark">Logout</a>
           @* </form>*@
          </ul>
        </div>
  @*      <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
            @*<form method="post" action="Identity/Account/Manage/LogOut">*@
            @*<a href="Identity/Account/Logout" class="nav-link btn btn-link">Logout</a>*@
            @*</form>*@
    </Authorized>
    <NotAuthorized>
            <a href="Identity/Account/Login" class="nav-link text-dark"><strong>LOGIN</strong> </a>
    </NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>

