@page "/"

<PageTitle>Index</PageTitle>

<div class="container-fluid">
     <h3>Dashboard</h3>
         <div class="container text-start">
          <div class="row g-2">
            <div class="col-3">
              <div class="p-3 border bg-light">
                 <div class="card text-bg-dark">
                  <img src="./Images/bg/Statue of liberty_Monochromatic.png" class="card-img shadow p-3 rounded" alt="..." width="75">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Popularity</h5>
                  </div>
                </div>
              </div>
            </div>
             <div class="col-3">
              <div class="p-3 border bg-light">
                 <div class="card text-bg-dark">
                  <img src="./Images/bg/Money motivation _Monochromatic.png" class="card-img shadow p-3 rounded" alt="..." width="75">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Revenue</h5>
                  </div>
                </div>
              </div>
            </div>
               <div class="col-3">
              <div class="p-3 border bg-light">
                 <div class="card text-bg-dark">
                  <img src="./Images/bg/Checklist_Monochromatic.png" class="card-img shadow p-3 rounded" alt="..." width="75">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Jobs</h5>

                  </div>
                </div>
              </div>
            </div>
               <div class="col-3">
              <div class="p-3 border bg-light">
                 <div class="card text-bg-dark">
                  <img src="./Images/bg/Card Payment_Monochromatic.png" class="card-img shadow p-3 rounded" alt="..." width="75">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Transactions</h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
<hr/>
<h3>Business</h3>
<h>My Services</h>
  <div class="row">
      
      <div class="col-7 align-content-start g-4"><table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td><button>Edit</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td><button>Edit</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>twitter</td>
      <td><button>Edit</button></td>
    </tr>
  </tbody>
</table>
</div>
      <div class="col-5 align-content-end g-4">
          <div class="d-flex position-relative">
          <img src="./Images/bg/Card Payment_Monochromatic.png" class="flex-shrink-0 me-3" alt="..." width="120px" height="120px">
          <div>
                <figure class="text-center">
                  <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                  </figcaption>
                </figure>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <hr/>