@page "/profile-register"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Web

@inject NavigationManager NavManager
@inject IProviderHelper _providerHelper

<!--Errors-->
@if (Errors.Count > 0)
{
    @foreach(string error in Errors)
    {
        <span>@error</span>
    }
}
<h3>Create Profile</h3>
<br />
<!--Profile Form-->
<EditForm Model="newProfile" OnSubmit="ClickRegisterProfile" class="row g-3 shadow rounded border-0 m-auto">
    

    <div class="col-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" @bind-value="newProfile.Names" id="firstName" class="form-control" placeholder="First name" aria-label="First name">
    </div>
    <div class="col-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" @bind-value="newProfile.Surname" id="lastName" class="form-control" placeholder="Last name" aria-label="Last name">
    </div>
    <div class="col">
        <label for="inputDateOfBirth" class="form-label">Date of birth</label>
        <input type="date" @bind-value="newProfile.DateOfBirth" class="form-control" id="inputDateOfBirth"/>
    </div>
    <div class="col">
        <label for="inputGender" class="form-label">Gender</label>
        <select id="inputGender" @bind="newProfile.Gender" class="form-select">
            <option selected>Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="col-12">
        <label for="inputContactNumber" class="form-label">Contact Number</label>
        <input type="text" @bind-value="newProfile.PhoneNumber" class="form-control" id="inputContactNumber" placeholder="+27 -- --- ----">
    </div>
   

    
    <div class="mb-3">
        <label for="formFile" class="form-label">Photo <small>not larger than 8MB</small></label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>



@code {
    private ProfileModel newProfile = new ProfileModel
        {
            DateOfBirth = DateTime.Today    
        };

    List<string> Errors = new List<string>();
    bool IsRegistered;


    //Onclick Submit method 
    private async Task ClickRegisterProfile()
    {
        try
        {
            IsRegistered = await _providerHelper.RegisterProfile(newProfile);
            await InvokeAsync(StateHasChanged);
            if (IsRegistered)
            {
                NavManager.NavigateTo("ws-sign-up");   
            }
           
        }
        catch (Exception ex)
        {

            Errors.Add(ex.Message);
        }
    }



}
