@page "/404"

<main>
    <!-- * -->
    <div class="error-container">
        <div class="error-card">
            <h1>PAGE NOT FOUND</h1>
            <h2>404</h2>
            <p>Soory we could not find the page you are looking for, Please return to your previouse page </p>
            <a class="btn" href="/pages/Index.html">Return</a>
        </div>
    </div>
</main>

@code {

}
