
:root {
    --bg-PAMPAS: #fff;
    --bg-GRANNY-SMITH: #849BA0;
    --bg-MUDDY-WATERS: #BB8751;
    --bg-STORM-GRAY: #6C738C;
    --bg-OUTER-SPACE: #2D3939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg-GRANNY-SMITH);
}

.authContainer {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: var(--bg-PAMPAS);
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.authContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--bg-MUDDY-WATERS), var(--bg-STORM-GRAY));
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

    form.sign-in-form {
        opacity: 1;
        transition: 0.5s ease-in-out;
        transition-delay: 1s;
    }

    form.sign-up-form {
        opacity: 0;
        transition: 0.5s ease-in-out;
        transition-delay: 1s;
    }

.title {
    font-size: 35px;
     color: var(--bg-MUDDY-WATERS);
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: var(--bg-PAMPAS);
    margin: 10px 0;
    border: 2px solid var(--bg-MUDDY-WATERS);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

    .input-field i {
        flex: 1;
        text-align: center;
        color: var(--bg-GRANNY-SMITH);
        font-size: 18px;
    }

    .input-field input {
        flex: 5;
        background: none;
        border: none;
        outline: none;
        width: 100%;
        font-size: 18PX;
        font-weight: 600;
        color: var(--bg-GRANNY-SMITH);
    }

.login-btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--bg-MUDDY-WATERS);
    color: var(--bg-PAMPAS);
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.login-btn:hover {
    background: var(--bg-MUDDY-WATERS);
}

.social-text {
    margin: 10px 0;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-OUTER-SPACE);
    border: 1px solid var(--bg-OUTER-SPACE);
    border-radius: 50px;
    margin: 0 5px;
}

a {
    text-decoration: none;
}

.social-icon:hover {
   color: var(--bg-MUDDY-WATERS);
}

.panels-authContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

    .panel h3 {
        font-size: 24px;
        font-weight: 10px;
    }

    .panel p {
        font-size: 15px;
        padding: 10px 0;
    }

.left-panel {
    pointer-events: none;
}

.content {
    color: var(--bg-PAMPAS);
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

/*Animation for the Sign in and Sign up*/
.container.sign-up-mode::before {
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.authContainer.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}

/*Authentication Alert Style*/
.alert {
    padding: 20px;
    background-color: white;
    color: darkolivegreen;
    box-shadow: 10px;
    border-radius: 3px 3px 3px 0px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: black;
    }


/*Media Queries*/
@media (max-width:635px) {
    .authContainer::before {
        display: none;
    }

    form {
        width: 80%;
    }

        form.sign-up-from {
            display: none;
        }
}