
:root {
    --bg-PAMPAS: #fff;
    --bg-GRANNY-SMITH: #849BA0;
    --bg-MUDDY-WATERS: #BB8751;
    --bg-STORM-GRAY: #6C738C;
    --bg-OUTER-SPACE: #2D3939;
    --bg-SideNav-Colour: #04172D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive,'Poppins', sans-serif;
}

body {
    background: var(--bg-GRANNY-SMITH);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3% 0;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out .5s;
    z-index: -1;
    position: fixed;
}
/*#### Dashboard cards, infor and summary SECTION */
section {
    position: absolute;
    top: 45px;
    width: 94vw;
    height: 90vh;
    background: var(--bg-PAMPAS);
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0px 2px 13px 1px var(--bg-GRANNY-SMITH);
}

.container {
    padding: 10px;
    width: 90%;
    height: 82%;
    border-radius: 15px;
    background-color: hsla(210, 28%, 55%, 0.13);
    position: relative;
    top: 12%;
    left: 5%;
    box-shadow: 0px 2px 13px 1px var(--bg-GRANNY-SMITH);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5% 1%;
    grid-auto-flow: row;
    grid-template-areas:
        "cards-top card-side"
        "card-bottom card-side";
}

.cards-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1.3%;
    grid-auto-flow: row;
    grid-area: cards-top;
    border-radius: 15px;
    width: 100%;
    height: 60%;
}
/* #### 3 cards on the Top of the container*/
.card {
    height: 100%;
    width: 100%;
    background-color: var(--bg-PAMPAS);
    box-shadow: 0px 2px 8px 2px var(--bg-GRANNY-SMITH);
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.3fr 0.7fr;
    gap: 0px 0px;
    grid-template-areas:
        ". ."
        "card-content card-content";
    align-items: center;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
}

    .card:hover {
        box-shadow: 0 0.5rem 1rem var(--bg-GRANNY-SMITH);
        transform: translateY(-0.25rem);
        color: var(--bg-MUDDY-WATERS);
    }

        .card:hover > h2 {
            color: var(--bg-MUDDY-WATERS);
            transition: all 0.7s ease-in-out;
        }

    .card h2 {
        font-family: 'Lobster', cursive;
        font-weight: bold;
        text-transform: uppercase;
        align-self: flex-start;
        color: var(--bg-SideNav-Colour);
        justify-self: flex-start;
        font-size: 100%;
    }

.card-icon {
    justify-self: flex-end;
}

.card i:hover {
    color: var(--bg-MUDDY-WATERS);
    transition: all ease-in-out .5s 50ms;
}

.card-icon i {
    width: 100%;
    height: 100%;
}

.card-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 25%;
    grid-template-areas: ". . .";
    grid-area: card-content;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 210px;
}

.card-info label {
    font-size: 65%;
    text-transform: uppercase;
    color: #444749;
}

.card-info span {
    display: flex;
    justify-content: center;
    font-size: 100%;
    text-transform: uppercase;
    color: #000000;
}

.card-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
        "."
        "."
        ".";
    grid-area: card-side;
    height: 104.5%;
    width: 100%;
    background-color: var(--bg-PAMPAS);
    box-shadow: 0px 2px 8px 2px var(--bg-GRANNY-SMITH);
    border-radius: 15px;
    padding: 10px;
}

    .card-side:hover {
    }
/*! THIS IS A TEST CODE FOR THE WEATHER*/
.card-weather {
    width: 100%;
    height: 80%;
    background: var(--bg-GRANNY-SMITH);
    border-radius: 15px;
    display: flex;
    color: white;
    justify-content: space-evenly;
    position: relative;
    flex-direction: column;
    background: var(--bg-GRANNY-SMITH);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    align-items: center;
    flex-wrap: nowrap;
}

    .card-weather:hover {
        box-shadow: 0 0.5rem 1rem var(--bg-GRANNY-SMITH);
    }

.time-text {
    font-size: 40px;
    margin-top: 0px;
    align-self: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s ease-in-out;
}

.time-sub-text {
    font-size: 15px;
    margin-left: 5px;
}

.day-text {
    font-size: 14px;
    margin-top: 0px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.moon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.4s ease-in-out;
}

.card-weather:hover > .moon {
    font-size: 35px;
    transition: all 0.4s ease-in-out;
}

.card-weather:hover > .time-text {
    font-size: 20px;
    transition: all 0.4s ease-in-out;
}



/*! END*/


.card-bottom {
    height: 107%;
    width: 100%;
    background-color: var(--bg-PAMPAS);
    box-shadow: 0px 2px 8px 2px var(--bg-GRANNY-SMITH);
    border-radius: 15px;
    padding: 10px;
}

.card-bottom {
    grid-area: card-bottom;
}

    .card-bottom:hover {
        box-shadow: 0 0.5rem 1rem var(--bg-GRANNY-SMITH);
        transform: translateY(-0.25rem);
    }

@media all and (-ms-high-contrast:none) {
    .container {
        display: -ms-grid;
        -ms-grid-columns: 1.5fr 0.5fr;
        -ms-grid-rows: repeat(2, 1fr);
    }

    .cards-top {
        display: -ms-grid;
        -ms-grid-columns: repeat(3, 1fr);
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .card-side {
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: repeat(3, 1fr);
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .card-bottom {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
}
/*#### Icons RESIZING*/
img {
    width: 25px;
    height: 25px;
}
