
:root {
    --bg-PAMPAS: #fff;
    --bg-GRANNY-SMITH: #849BA0;
    --bg-MUDDY-WATERS: #BB8751;
    --bg-STORM-GRAY: #6C738C;
    --bg-OUTER-SPACE: #2D3939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--bg-GRANNY-SMITH);
}
.main {
    width:auto;
    height:contain;

}
.container {
    position: relative;
    width: 90vw;
    height: 80vh;
    background: var(--bg-PAMPAS);
    border-radius: 15px;
    overflow: hidden;
}



form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}



.title {
    font-size: 35px;
    color: var(--bg-MUDDY-WATERS);
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: var(--bg-PAMPAS);
    margin: 10px 0;
    border: 2px solid var(--bg-MUDDY-WATERS);
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: var(--bg-GRANNY-SMITH);
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18PX;
    font-weight: 600;
    color: var(--bg-GRANNY-SMITH);
}



.social-text {
    margin: 10px 0;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-OUTER-SPACE);
    border: 1px solid var(--bg-OUTER-SPACE);
    border-radius: 50px;
    margin: 0 5px;
}

a {
    text-decoration: none;
}

.social-icon:hover {
    color: var(--bg-MUDDY-WATERS);
}

.animable {
    width: 100px;
    height: 10px;
    position: relative;
    animation: mymove 5s;
    animation-delay: 2s;
    animation-duration: 3s;
}

li {
    animation: mymove3 3s;
}

.animable2 {
    width: 100px;
    height: 100px;
    position: relative;
    animation: mymove1 5s;
    animation-delay: 2s;
    animation-duration: 3s;
}

@keyframes mymove {
    from {
        
        left: 20px;
        background: White;
    }
    to {
        left: 0px;
        text-overflow;
        text-align: center;
    }

}


@keyframes mymove3 {
    from {
        left: 20px;
        background: White;
    }

    to {
        left: 0px;
        text-overflow;
        text-align: center;
        background: linear-gradient(-45deg, var(--bg-MUDDY-WATERS), var(--bg-STORM-GRAY));
        border-radius: 50px 50px 20px 20px;
    }
}

@keyframes mymove1 {
    0% {
        background: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background: red;
        left: 0px;
        top: 0px;
    }
 
}

p.a.,h1 {
    font-family: "Times New Roman", Times, serif;
}

p.b {
    font-family: Arial, Helvetica, sans-serif;
}

