@using Handymen_UI_Consumer.Helpers
@using Handymen_UI_Consumer.Models
@model Order
@inject IOrderHelper _orderHelper
   

    <div class="modal" id="staticBackdropdeleteorder@(Model.Id)" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="staticBackdropLabel">Confirm Order Removal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete @ViewData[$"name{@Model.Id}"] order?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post">
                    <button asp-page="./Orders/OrderDetails" asp-route-id="@Model.Id" type="submit" class="btn btn-primary text-reset" data-bs-toggle="modal" data-bs-target="#staticBackdropdeleteorder@(Model.Id)" aria-label="Close" data-bs-dismiss="offcanvas">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<div>

    
    
</div>