@page "/"

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<PageTitle>Index</PageTitle>

<h3>Hello,</h3>
<p>Name: Service Provider</p>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-3">
            Filters
        </div>
        <div class="col-sm-9">
            <div class="row">
                
                <div class="col-8 col-sm-6">
                    Level 2: .col-8 .col-sm-6
                </div>
                <div class="col-4 col-sm-6">
                    Level 2: .col-4 .col-sm-6
                </div>
            </div>
        </div>
    </div>
</div>
