@page "/Business-Dashboard"  
@page "/business-details"
@inject IJSRuntime JS
@inject IBusinessHelper _busiHelper
<!--Blog Boostrap Tamplate-->
<head>  
     </head>
     <AuthorizeView Roles="ServiceProvider">

         <Authorized>

        @if (business!=null)
        {        <!--Welcome-->
                <div class="p-4 p-md-3 mb-2 rounded-4 text-bg-dark" role="document">
                    <div class="col-md-6 px-0">
                        
                    <h1 class="lead my-3">Welcome to Handyman's @business.Name</h1>
                    </div>
                </div>
                <!--End Welcome-->
            

            <!-- Three columns of text below the carousel -->
            <div class="row">
           <div class="col-lg-6 shadow rounded" role="document">
                <!--Chart-->
                <div class="p-4 p-md-3 mb-2 rounded-4 shadow" >
                    <section id="pieChart" class="bg-transparent rounded">
                        <canvas class="bg-white" id="myChart" style="width:100%;max-width:600px"></canvas>
                    </section>
                </div>
                <!--End Chart-->
              </div><!-- /.col-lg-6 -->


               <div class="col-lg-6 justify-content-center text-center shadow rounded-4 p-4 p-md-3 mb-2">
                <svg class="bd-placeholder-img rounded-circle p-4 p-md-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                    <h2 class="font-monospace text-center">@business.Name</h2>
                    <p class="fst-italic text-center">@business.Employee.employeeProfile.Names</p>
                <p class="text-center"><a class="btn btn-secondary" href="profile">View details &raquo;</a></p>
              </div><!-- /.col-lg-6 -->
      
            </div><!-- /.row -->


               
        }else
        {
            <span class="visually-visible">Loading...</span>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>

            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Welcome to Handymen</h1>
                <p class="col-md-8 fs-4">All services you think you can provide are listed here choose at least one and become <strong>Handymen</strong>, become the best in what you do and get money out of it</p>
                <button @onclick="displayServiceAlbum" class="btn btn-primary btn-lg">Check them out!</button>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code{
    private BusinessModel? business;

    [Authorize(Roles ="ServiceProvider")]
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (business==null)
            {
                
                business = await _busiHelper.GetBusiness(); 
                
            }
            
        }
        catch (Exception ex)
        {  
            throw new Exception(ex.Message,ex.InnerException);
        }
    }

    //private IJSObjectReference importedDHTML;
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    //if (firstRender)
    //    //{
    //    //    // import the script from the file
    //    //    //importedDHTML = await JS.InvokeAsync<IJSObjectReference>(
    //    //    //    "import", "/assets/dist/js/site.js");

    //    //    //// Initialize 
    //    //    //await importedDHTML.InvokeAsync<IJSObjectReference>(
    //    //    //    "InitPieChart");
    //    //    //    StateHasChanged();
    //    //}
    //}


}

   
<!--End Blog Bootstrap tamplate-->

