@page "/stuff"
@page "/test"

@using Microsoft.AspNetCore.Components.Web

@if (employee != null)
{

    <div class="row p-4 p-md-5 mb-4 rounded text-bg-dark">

        <!--Welcome section-->
        <div class="col-md-3 px-0">
            <strong class="display-4 fst-italic">@employee.employeeProfile.Names</strong>
        </div>
    </div>
    <!--End welcome section-->

    
}

@code {

    ServiceProviderModel? employee;

    [Parameter]
    public ServiceProviderModel? providerParam { get { return employee;} set { employee = value; } }

   

}
