 @model HandymanUILibrary.Models.TaskModel

<!-- DeleteTaskView -->
<!-- Modal -->
<div class="modal" id="deleteTaskModal@(Model.Id)" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="staticBackdropLabel">Confirm Task Removal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <p class="text-danger">@Model.tas_title? </p>
            </div>

            <div class="modal-footer">
                <form method="post" class="btn btn-lg btn-link fs-6 text-decoration-none justify-content-center col-6 m-0 text-decoration-none  m-0 rounded-0 border-end btn-outline-danger">
                    <button type="submit"asp-page-handler="/OrderDetails/OrderCancelTask" asp-route-id="@Model.Id" data-bs-toggle="modal" class="bg-transparent border-0" data-bs-target="#deleteTaskModal@(Model.Id)" aria-label="Close" data-bs-dismiss="offcanvas">Save</button>
                </form>
                <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
                
            </div>
        </div>
    </div>
</div>


