@page 
@model Handymen_UI_Consumer.Pages.DetailsModel
@inject SignInManager<Handymen_UI_ConsumerUser> SignInManager
@inject UserManager<Handymen_UI_ConsumerUser> UserManager

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}
    <!-- Custom styles for this template -->
<link href="features.css" rel="stylesheet">
<hr/>
<div class="container px-4 py-2" id="custom-cards">
   <!--Breadcrumbs-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="##" onclick="history.go(-1); return false;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service Details</li>
        </ol>
    </nav>
   <!--EndBreadCrumbs-->
    <h2 class="pb-2 border-bottom font-monospace shadow text-center">Service Details</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('~/Images/unsplash-photo-3.jpg'));">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@Html.DisplayFor(modelItem => modelItem.Service.name)</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>@UserManager.GetUserName(User)!</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>New</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
          <h4 class="fw-bold mb-0"> Agree</h4>
          <p>@Html.DisplayFor(modelItem => modelItem.Service.category.description).</p>
          
            <a asp-page="/Orders/Order" asp-route-id="@Model.Service.id"  class="btn btn-outline-success justify-content-content"> 
                Order 
                </a>
          
          </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
            <div>
              <h4 class="fw-bold mb-0">T's & C's</h4>
              <p>Please note the following</p>
            </div>
          </div>
        </div>
  </div>

