@page "/profile-register"

@inject IJSRuntime JS 
@inject NavigationManager NavManager
@inject IProviderHelper _providerHelper

@if (!IsSubmitted && !IsProfileSuccefullySave)
{
    <div class="profileContainer">
        <div class="profile">
            @*-----Profile Form-----*@
            <EditForm Model="newProfile" OnValidSubmit="swapToAddAddress" class="profile-form" target="_blank" autocomplete="on" validate>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h2 class="title">Profile Information</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" @bind-value="newProfile.Names" placeholder="Names"  required >
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" @bind-value="newProfile.Surname" placeholder="Last Name" required>
                </div>
                
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="tel" @bind-value="newProfile.PhoneNumber" placeholder="Cell Number" required >
                </div>
                 <div class="input-field">
                    <div id="calendarContainer">
                        <i class="fas fa-calendar "></i>
                    </div>
                    <div class="hide">
                        <div placeholder="DateOfBirth" data-app="calendar-app">
                        </div>
                    </div>
                   
                </div>

                <select title="ProfileGenderSelectList" name="profileGenderSelectList" @bind="newProfile.Gender" required>
                    <option>--Gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>                                                    
                    <option value="Other">Other</option>
                </select>

                <input type="submit" class="create-btn" value="Next" id="create-profile-btn">
            </EditForm>
            
            <EditForm Model="newProfile.Address" OnValidSubmit="SaveProfile" class="add-address-form">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <h2 class="title">Add Address</h2>
                <div class="input-field">
                    <i class="fas fa-mouse-pointer"></i>
                    <input type="text" @bind-value="newProfile.Address.add_street" placeholder="Street Address">
                </div>
                <div class="input-field">
                    <i class="fas fa-location"></i>
                    <input type="text" @bind-value="newProfile.Address.add_suburb" placeholder="Surburb/Town">
                </div>
                <div>
                    <i class="fas fa-map"></i>
                    <select title="ProfileCountrySelectList" name="profileCountrySelectList" @bind="newProfile.Address.add_country">
                        <option value="" >--Country--</option>
                        <option value="South Africa"  >South Africa</option>
                    </select>
                </div>
                <div>
                    <i class="fas fa-house"></i>
                    <select name="addressPovinceSelectList" type="text" @bind="newProfile.Address.add_state" placeholder="State">
                        <option value="">--Province--</option>
                        <option value="Western Cape">Western Cape</option>
                        <option value="Gauteng">Gauteng</option>
                        <option value="Mpumalanga">Mpumalanga</option>
                        <option value="KZN">KZN</option>
                        <option value="Eastern Cape">Eastern Cape</option>
                    </select>
                </div>
                <div>
                    <i class="fas fa-address-book"></i>
                    <select title="Address City SelectList" name="addressCitySelectList" type="text" @bind="newProfile.Address.add_city" placeholder="City">
                        <option value="" >--City--</option>
                        <option value="Cape Town" >Cape Town</option>
                        <option value="Johannesburg">Johannesburg</option>
                        <option value="WitBank">WitBank</option>
                        <option value="Durban">Durban</option>
                        <option value="Gqeberha">Gqeberha</option>
                    </select>
                </div>
             
                <input type="submit" value="Submit" class="create-btn">
                <p class="social-text">social platforms</p>
                <div class="social-media">
                    <a href="" class="social-icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="social-icon">
                        <i class="fab fa-telegram"></i>
                    </a>
                </div>
            </EditForm>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Member of Brand</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos possimus odio laudantium nobis ad, iure ratione ea? Similique doloribus modi delectus, pariatur illo quaerat nulla exercitationem consequatur, magni natus doloremque.</p>
                    <button class="create-btn" @onclick="swapToCreateProfile" >back</button>
                </div>
                <img src="/img/bg-auth/signin.svg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>New to Brand</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos possimus odio laudantium nobis ad, iure ratione ea? Similique doloribus modi delectus, pariatur illo quaerat nulla exercitationem consequatur, magni natus doloremque.</p>
                </div>
                <img src="/img/bg-auth/signin.svg" alt="" class="image">
            </div>
        </div>
    </div>

}
else
{
    <Loader />
}
@code {


    /// <summary>
    /// Locals
    /// </summary>
    private ProfileModel newProfile = new ProfileModel() { DateOfBirth= DateTime.Now};
    private IJSObjectReference? profileModuleReference,calendaModuleReference;
    private List<string> Errors = new List<string>()!;
    private bool IsSubmitted, IsProfileSuccefullySave;
    private string? userId;

    [Parameter]
    [SupplyParameterFromQuery(Name ="UID")]
    public string? UserId
    {
        get { return userId; }
        set { userId = value; }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            try
            {
                profileModuleReference = await JS.InvokeAsync<IJSObjectReference>("import", "/js/ProfileRegister.js");
                calendaModuleReference = await JS.InvokeAsync<IJSObjectReference>("import","/js/Calenda.js");
            }
            catch (Exception ex)
            {

                throw new Exception(ex.Message);
            }
        }
    }

    //JS Invokable method to swap to add address 
    private async Task swapToAddAddress()
    {
        Errors.Clear();
        if (profileModuleReference!=null)
        {
            try
            {
                await profileModuleReference.InvokeVoidAsync("swapToAddAddress");
            }catch(Exception ex)
            {
                Errors.Add(ex.Message);
            }

        }
    }
    //JS Invokable method to swap to create profile
    private async Task swapToCreateProfile()
    {
        Errors.Clear();
        if (profileModuleReference!=null)
        {
            try
            {

                await profileModuleReference.InvokeVoidAsync("swapToCreateProfile");
            }
            catch (Exception ex)
            {
                Errors.Add(ex.Message);
            }


        }
    }

    /// <summary>
    /// showCalendar() function is the main entry point. It takes one numerical argument prevNextIndicator
    /// -1 = previous month
    ///  0 = current month
    ///  1 = next month
    /// </summary>
    /// <returns></returns>

    private async Task showCalendar()
    {
        Errors.Clear();
        if (profileModuleReference != null)
        {
            try
            {
                await profileModuleReference.InvokeVoidAsync("displayCalendar");
            }
            catch (Exception ex)
            {
                Errors.Add(ex.Message);
            }


        }
    }

    

    /// <summary>
    /// Assign the gender 
    /// </summary>
    /// <param name="gender"></param>
    private void AssignGender(string gender)
    {
        if (!string.IsNullOrEmpty(gender))
        {
            newProfile.Gender = gender;
        }

    }

    /// <summary>
    /// Save the profile of the new user
    /// </summary>
    private async void SaveProfile()
    {
        try
        {
            if (userId != null)
            {
                newProfile.UserId = userId;
            }
            
            IsProfileSuccefullySave = await _providerHelper.RegisterProfile(newProfile);
            if (IsProfileSuccefullySave)
            {
                NavManager.NavigateTo("/", true);
            }
        }
        catch (Exception ex)
        {

            Errors.Add(ex.Message);
        }

    }
}
