@page "/owner"
@page "/manager"

@inject AuthenticationStateProvider authProvider
@attribute [Authorize]

<main>
     <!--######Top Navigation Section Start #######-->
     <nav>
        <div class="logo">
            <img src="#" alt="Logo">
        </div>
        <div class="search">
            <input type="text" placeholder="Type your text">
            <button class="search-button">
                <img src="/img/Search.png" aria-hidden="true" viewBox="0 0 24 24"/>
            </button>
        </div>
        <div class="icons-profile">
            <div class="icons">
                <ul>
                    <li><img src="/img/Planner.png" alt="calender"></li>
                    <li><img src="/img/Chat.png" alt="chats"></li>
                    <li><img src="/img/Notification.png" alt="notification"></li>
                </ul>
            </div>
            <div class="profile-icon">
                <button class="dropbtn"><img src="/img/Male User.png" alt="profile picture"></button>
                <div class="dropdown-content">
                <a href="#">{User}</a><br>
                <a href="#">{Profile}</a>
                <a href="#">LogOut</a>
                </div>
            </div>
        </div>
    </nav>
    <!--####Side Navigation Bar Start####-->
    <aside>
        <ul class="side-nav">
            <li><img src="/img/Home.png" alt="home"></li>
            <li><img src="/img/Work Boot.png" alt="services"></li>
            <li><img src="/img/Purchase Order.png" alt="order"></li>
            <li><img src="/img/Profit.png" alt="revenue"></li>
            <li><img src="/img/Worker.png" alt="stuff"></li>
            <li><img src="/img/Small Business.png" alt="workshop"></li>
            <li><img src="/img/Graph Report.png" alt="reports"></li>
        </ul>
    </aside>
    <!--#### Container for the Cards on the Dashboard ####-->
    <section>
        <div class="container">    
            <div class="card-top">
                <div class="cards">Orders
                    <!--TODO - Display -->
                </div>
                <div class="cards">Revenue</div>
                <div class="cards">stuff</div>
                <div class="card-bottom" >Chart</div>
            </div>
            <div class="card-side">
                    
            </div>
        </div>
    </section>
</main>







@* 
<main>
   
    <div class="container">
        <!--Navbar-->
        <ul>
            
            
            
            
            
        </ul>
        
        <div class="grid text-center">
            <div class="g-col-6"><p>Cell 1</p></div>
            <div class="g-col-6"><p>Cell 2</p></div>

            <div class="g-col-6"><p>Cell 3</p></div>
            <div class="g-col-6"><p>Cell 4</p></div>
        </div>
    </div>

    

</main>

 *@




@code {

     
}
