@page "/owner"
@page "/manager"



@inject AuthenticationStateProvider authProvider
@attribute [Authorize]

<main>
    <!--######Top Navigation Section Start #######-->
    <nav>
        <div class="logo">
            <i class="fa-solid fa-fingerprint fa-2x" style="color: #04172d;"></i>
            <h1>Jobby</h1>
        </div>
        <div class="search">
            <input type="text" placeholder="Type your text">
            <button class="search-button">
                <img src="/img/Search.png" aria-hidden="true" viewBox="0 0 24 24"/>
            </button>
        </div>
        <div class="icons-profile">
            <div class="icons">
                <ul>
                    <li><img src="/img/Planner.png" alt="calender"></li>
                    <li><img src="/img/Chat.png" alt="chats"></li>
                    <li><img src="/img/Notification.png" alt="notification"></li>
                </ul>
            </div>
            <div class="profile">
                <button class="dropbtn"><img src="/img/Male User.png" alt="profile picture"></button>
                <div class="dropdown-content">
                <a href="#">Mbuzi</a><hr><br>
                <a href="#">Owner</a>
                <a href="#">Profile</a>
                <a href="#">Support</a>
                <a href="#">Setting</a><br><hr>
                <a href="#">LogOut</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- * ####Side Navigation Bar Start####-->
    <NavMenu/>
    <!-- * Grid Container to display Cards on the Dashboard ####-->
    <section>
            <div class="container">
        <div class="cards-top">
          <div class="card">
            <h2>Revenues</h2>
            <div class="card-icon"><i class="fa fa-pie-chart fa-3x" ></i></div>
<div class="card-content">
              <div class="card-info"><label for="Active">Active</label><br><span>8</span></div>
              <div class="card-info"><label for="Pending">Pending</label><br><span>19</span></div>
              <div class="card-info"><label for="Closed">Closed</label><br><span>90</span></div>
            </div>
          </div>
          <div class="card">
            <h2>Orders</h2>
            <div class="card-icon"><i class="fa fa-bar-chart fa-3x"></i></div>
            <div class="card-content">
              <div class="card-info"><label for="Active">Active</label><br><span>8</span></div>
              <div class="card-info"><label for="Pending">Pending</label><br><span>19</span></div>
              <div class="card-info"><label for="Closed">Closed</label><br><span>90</span></div>
            </div>
          </div>
          <div class="card">
            <h2>stuff</h2>
            <div class="card-icon"><i class="fa fa-building fa-3x"></i></div>
<div class="card-content">
              <div class="card-info"><label for="Active">Active</label><br><span>8</span></div>
              <div class="card-info"><label for="Pending">Pending</label><br><span>19</span></div>
              <div class="card-info"><label for="Closed">Closed</label><br><span>90</span></div>
            </div>
          </div>
        </div>
        <div class="card-side">
          <div class="card-weather">
            <p class="time-text"><span>11:11</span><span class="time-sub-text">PM</span></p>
            <p class="day-text">Wednesday, June 15th</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16" stroke-width="0" fill="currentColor" stroke="currentColor" class="moon"><path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path><path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path></svg>
            </div>
        </div>
        <div class="card-bottom">
          <canvas id="bar-chart" width="400" height="135" aria-label="Hello ARIA World" role="img">
            <p>Hello Fallback World</p>
          </canvas>
        </div>
      </div>
    </section>
</main>







@* 
<main>
   
    <div class="container">
        <!--Navbar-->
        <ul>
            
            
            
            
            
        </ul>
        
        <div class="grid text-center">
            <div class="g-col-6"><p>Cell 1</p></div>
            <div class="g-col-6"><p>Cell 2</p></div>

            <div class="g-col-6"><p>Cell 3</p></div>
            <div class="g-col-6"><p>Cell 4</p></div>
        </div>
    </div>

    

</main>

 *@




@code {

     
}
