@using Microsoft.AspNetCore.Identity
@using Handymen_UI_Consumer.Areas.Identity.Data

@inject SignInManager<Handymen_UI_ConsumerUser> SignInManager
@inject UserManager<Handymen_UI_ConsumerUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

      </div>
    </div>
}
else
{

    <li class="nav-item">
        <a  class="nav-link link-dark px-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

