@model IEnumerable<HandymanUIApp.Models.ServiceModel>

@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>
@if (@Model.Count() != 0 || @Model!=null)
{
    <partial name="SearchServiceByName" />
}else{
    
    <div class="container-fluid alert">
        <p>There was an error displaying services.</p>
    </div>
}

