@page

@using Handyman_UI_Provider.Pages.Services
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="alert alert-secondary ">
    <p class="text-center">Now you can login an <strong>enjoy</strong></p>
</div>